.canvas {
  position: absolute;
}

.controls {
  z-index: 100;
  position: absolute;
}

img {
  display: none;
}

.wrapButton {
  padding: 1rem;
  font-size: 2rem;
  margin: 2rem;
  color: white;
  background: black;
  font-family: 'Bangers', cursive;
  transition: 0.2s;
}

.wrapButton:hover {
  color: black;
  background: white;
}
